*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(55, 12, 87, 0.9);
}

.title{
    text-align: center;
    text-shadow: 3px 2px rgb(0, 0, 0);
    color: rgb(0, 140, 255);
    text-decoration: underline;
}


.body{
    display: flex;
    flex-direction: column;
    max-width: 26rem;
    height: 37rem;

    margin: auto;
    margin-top: 3rem;
    background-color: rgba(154, 61, 221, 0.836);

    box-shadow: inset 9px 5px 200px;
}




.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6rem;
    height: 5.3rem;
}

#equal1{
    flex: 0.86;
}

#equal{
    flex: 1;
}

#0{
    height: 100rem;
}

.btn{
    border: none;
    height: 5rem;
    width: 5.9rem;
    background-color: rgba(73, 40,97, 0.38);
    color: rgb(65, 190, 248);
    font-size: 2rem;
    border-radius: 0rem;
    box-shadow: 1px 2px rgba(83, 79, 79, 0.61);

}

.btn:hover{
    background-color: rgb(69, 233, 255);
    color: rgb(0, 0, 0);
    margin-bottom: 9px;

    cursor: pointer;
}

.screen{
    color: rgba(247, 243, 14, 0.658);
    height: 8rem;
    margin: 0.8rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    
    padding: 0.8rem;
    border-radius: 1rem;
    background-color:rgba(0, 0, 0, 0.925);
    box-shadow: inset 4px 3px 2px 0.2px rgb(46, 44, 44);

    word-wrap: break-word;
    word-break: break-all;
}


.screen .prev-op{
    font-size: 1.5rem;
    color: rgba(255, 217, 0, 0.89);
}

.screen .curr-op{
    font-size: 2.5rem;
    color: rgb(229, 255, 0);
}



